dotfiles/headless/nvim/.config/nvim/spell/
dotfiles/headless/nvim/.config/nvim/lua/.luarc.json
dotfiles/headless/vim/.vim/*
!dotfiles/headless/vim/.vim/vimrc
dotfiles/desktop/alacritty/.config/alacritty/alacritty.toml
