[user]
# YOU CAN OVERRIDE THIS
# USE GIT_AUTHOR_USER AND GIT_AUTHOR_EMAIL VARIABLES
	name = Filipe Ligeiro Silva
	email = 57916727+filipelsilva@users.noreply.github.com
	username = filipelsilva

[alias]
	aa = add --all
	ap = add --patch

	br = branch
	brv = branch --verbose --verbose

	bl = blame
	blc = blame -w -C -C -C
	blm = blame -w -C -C -C -M

	cm = commit
	ac = commit --all
	amend = commit --amend
	amende = commit --amend --no-edit
	aamend = commit --all --amend
	aamende = commit --all --amend --no-edit
	fixup = commit --fixup

	co = checkout

	cp = cherry-pick
	cpa = cherry-pick --abort
	cpc = cherry-pick --continue

	df = diff --compact-summary
	dfs = diff --compact-summary --staged
	diffs = diff --staged
	dt = difftool
	dts = difftool --staged

	grep = grep -p

	lg = log --oneline
	lf = log -S
	head = log --oneline --max-count 20
	tree = log --oneline --graph --decorate --all

	mg = merge
	mga = merge --abort
	mgc = merge --continue
	mt = mergetool

	ps = push
	psf = push --force-with-lease

	pl = pull
	plb = pull --rebase

	rb = rebase
	rba = rebase --abort
	rbc = rebase --continue
	rbi = rebase --interactive
	rbs = rebase --skip
	rbas = rebase --autosquash

	rs = reset
	rsh = reset --hard

	rv = revert

	rt = restore
	rts = restore --staged

	st = status --short --branch

	sw = switch

	wt = worktree

[core]
	autocrlf = input
	whitespace = trailing-space

[color]
	ui = auto

[commit]
	verbose = true

[branch]
	sort = -committerdate

[init]
	defaultBranch = main

[log]
	date = iso

[rebase]
	updateRefs = true
	autoSquash = true

[rerere]
	enabled = true
	autoupdate = true

[push]
	autoSetupRemote = true

[tag]
	sort = -version:refname

[checkout]
	defaultRemote = origin

[help]
	autocorrect = prompt

[maintenance]
	auto = true
	strategy = incremental

[fetch]
	all = true
	prune = true
	pruneTags = true
	fsckobjects = true

[receive]
	fsckobjects = true

[transfer]
	fsckobjects = true

[instaweb]
	httpd = python

[diff]
	algorithm = histogram
	colorMoved = plain
	colorMovedWS = allow-indentation-change
	renames = true
	tool = vimdiff
[difftool]
	prompt = false
[difftool "vimdiff"]
	cmd = ${EDITOR:-vim} -d "$LOCAL" "$REMOTE"

[merge]
	tool = vimdiff
	conlfictstyle = zdiff3
[mergetool]
	prompt = true
[mergetool "vimdiff"]
	cmd = ${EDITOR:-vim} -d "$LOCAL" "$BASE" "$REMOTE" "$MERGED" -c '$wincmd w' -c 'wincmd J'
