[user]
	email = 57916727+filipelsilva@users.noreply.github.com
	name = Filipe Ligeiro Silva

[core]
	autocrlf = input

[init]
	defaultBranch = main

[alias]
	ac = "!git add -A && git commit"
	cm = "commit"
	cma = "commit -a"
	co = "checkout"
	cob = "checkout -b"
	df = "diff"
	st = "status"
	tree = "log --graph --oneline --decorate --all"

[diff]
	tool = vimdiff
[difftool]
	prompt = false
[difftool "vimdiff"]
	cmd = vim -d "$LOCAL" "$REMOTE"

[merge]
	tool = vimdiff
[mergetool]
	prompt = true
[mergetool "vimdiff"]
	cmd = vim -d "$LOCAL" "$REMOTE" "$MERGED" -c '$wincmd w' -c 'wincmd J'
